.buttons.invisible
    .buttons__inner
        //- .footer__inner--address
        //-     p 119421, г.Москва, пр-кт Ленинский, д. 111, корп. 1, этаж 3, пом. 26, оф. 53
        .buttons__inner--buttons
            .swiper-button-prev
            .swiper-button-next